/*Home*/

body {
    background-image: url('IMG/blue.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

#console {
    visibility: hidden;
    position: absolute;
    left: 5vw;
    top: -30vh;
    width: 25vw;
    height: 25vh;
    border: 1px red solid;
}

#consoleShow {
    width: inherit;
    height: inherit;
}

#consoleInput {
    width: inherit;
}

#nav {
    visibility: hidden;
    position: relative;
    top: 50px;
    margin: 0 auto;
    background-color: gray;
    width: 90vw;
    height: 10vh;
    border: 5px #330099 groove;
    font-size: 1.5vw;
    text-align: center;
}

#titel {
    visibility: hidden;
    color: #00FF00;
    font-family: 'Fonts/8bit_wondernominal';
    text-align: center;
    font-size: 4vw;
    text-shadow: -5px 0 purple, 0 5px purple, 5px 0 purple, 0 -5px purple;
}

#stalin {
    visibility: hidden;
    position: absolute;
    width: 30%;
    height: 35%;
    left: 35%;
    bottom: 5%;
}

.donate {
    position: fixed;
    right: 2%;
    top: 3%;
}

a:visited {
    visibility: hidden;
    color: #00FF00;
    text-decoration: none;
}

@font-face {
    font-family: 'Fonts/8bit_wondernominal';
    src: url('Fonts/8-bitwonder-webfont.eot');
    src: url('Fonts/8-bitwonder-webfont.eot?#iefix') format('embedded-opentype'), url('Fonts/8-bitwonder-webfont.woff2') format('woff2'), url('Fonts/8-bitwonder-webfont.woff') format('woff'), url('Fonts/8-bitwonder-webfont.ttf') format('truetype'), url('Fonts/8-bitwonder-webfont.svg#8bit_wondernominal') format('svg');
    font-weight: normal;
    font-style: normal;
}

#submenu {
    visibility: hidden;
    position: relative;
    left: 16vw;
    top: 2.5vw;
    border: 2px groove blue;
    background-color: grey;
    width: 40vh;
    visibility: hidden;
    font-size: 80%;
}

#AnimeInput {
    visibility: hidden;
    Background-color: grey;
    padding: 1vw;
}

#back {
    visibility: hidden;
    position: fixed;
    top: 2%;
    right: 2%;
    width: 75px;
    height: 75px;
    font-size: 100%;
}

#Triforce {
    visibility: hidden;
    position: absolute;
    width: 20vw;
    height: 25vh;
    left: 80vw;
    bottom: 0.2vh;
}

#initialD {
    visibility: hidden;
    position: absolute;
    width: 20vw;
    height: 25vh;
    left: 5vw;
    bottom: 5vh;
}

#rupee {
    position: absolute;
    top: 57vh;
    left: 48.5vw;
    width: 2.2vw;
    height: 6vh;
}
