/*Home*/


body{
  background-color: black;
  visibility: hidden;
}

#console{
  visibility: hidden;
  position: absolute;
  left: 5vw;
  top: -30vh;
  width: 25vw;
  height: 25vh;
  border: 1px red solid;

}

#consoleShow{
  width: inherit;
  height: inherit;
}

#consoleInput{
  width: inherit;
}
